.calorie-counter {
  * {
    color: white;
  }

  .total {
    font-size: 60px;
    color: #cda75c;
    font-weight: 100;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header-gradient {
    position: absolute;
    top: -25px;
    width: 100%;
  }

  .sub-heading {
    margin-bottom: 25px;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-width: 100%;
  }

  .total-circle {
    border: 2px solid #cda75c;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .calories {
    letter-spacing: 3px;
    font-size: 12px;
  }

  .search {
    width: 100%;
    background: none;
    border: 0;
    border-bottom: solid 1px grey;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 10px;
  }

  .selected-items {
    transition: 0.2s ease-in-out;
    margin-bottom: 50px;

    .card-container {
      visibility: hidden;
      max-height: 0;

      &.expanded {
        visibility: visible;
        max-height: fit-content;
      }
    }
  }

  .selected {
    color: gold;
  }

  .menu-carousel {
    display: flex;
    overflow: hidden;
  }

  .menu-carousel-inner{
    width: 100%;
    display: flex;
    transition: 0.3s ease-in-out;
  }
}
