.calorie-counter {
  * {
    color: white;
  }

  .total {
    font-size: 60px;
    color: #cda75c;
    font-weight: 100;
  }

  .header {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    margin-bottom: 25px;
  }

  .header-gradient {
    position: absolute;
    top: -25px;
    width: 100%;
  }

  .sub-heading {
    margin-bottom: 25px;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    min-width: 100%;
    margin-top: 25px;
  }

  .total-circle {
    border: 2px solid #cda75c;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .calories {
    letter-spacing: 3px;
    font-size: 12px;
  }

  .search {
    min-width: 100%;
    background: #141414;
    border: 0;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 25px;
    height: 70px;
    display: flex;
    align-items: c;
    position: sticky;
    top: 0;
    z-index: 3;
 
    
    

    input{
      background: 0;
      border: 0;
      padding-left: 20px;
      font-size: 14px;

      &::placeholder{
        color: white;
      }
    }
  }

  .selected-items {
    transition: 0.2s ease-in-out;
    margin-bottom: 50px;

    .card-container {
      visibility: hidden;
      max-height: 0;

      &.expanded {
        visibility: visible;
        max-height: fit-content;
      }
    }
  }

  .selected {
    color: gold;
  }

  .menu-carousel {
    display: flex;
    overflow: hidden;
  }

  .menu-carousel-inner {
    width: 100%;
    display: flex;
    transition: 0.3s ease-in-out;
  }

  .sticky-container {
    position: sticky;
    top: 70px;
    z-index: 1;
    background: #141414;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
