.Calories-Fixed {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  border: solid 1px gold;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  bottom: 50px;
  right: 50px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;

  &.visible {
    visibility: visible;
    opacity: 1;
  }
}
