.product-card {
  opacity: 0;
  animation: fade-in 0.5s linear forwards;
  button {
    color: black;
  }

  display: flex;
  justify-content: space-between;

  .name-calories-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .button-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .quantity-button {
    border: 0;
    border-radius: 500px;
    height: 30px;
    width: 30px;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  .fade-in {
    animation: fade-in 0.2s linear forwards;
  }

  .fade-out {
    animation: fade-out 0.2s linear forwards;
  }
}
