.product-card {
  * {
    transition: 0.3s ease-in-out;
  }
  opacity: 0;
  animation: fade-in 0.5s linear forwards;

  button {
    color: white;
    background: #1b1b1b;
    cursor: pointer;
  }

  display: flex;
  justify-content: space-between;

  .name-calories-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }

  .button-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .quantity-button {
    border: 0;
    border-radius: 500px;
    height: 30px;
    width: 30px;
  }

  .product_desc {
    color: #686868;
  }
  
  .calories{
    color: #CDA75C;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  .fade-in {
    animation: fade-in 0.2s linear forwards;
  }

  .fade-out {
    animation: fade-out 0.2s linear forwards;
  }
}
