.tab-nav {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  overflow: scroll;
  background: #141414;
  
  display: flex;
  align-items: center;

  span {
    color: #777777;
    font-size: 14px;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    &.active {
      color: white;
    }
  }
}
