.tab-nav {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  overflow: scroll;
  margin-bottom: 50px;

  span {
    color: #777777;
    font-size: 14px;
    transition: 0.3s ease-in-out;

    &.active {
      color: white;
    }
  }
}
